body
{
	margin: 0;
	padding: 0;
}

/*Home section*/
.main
{
	background-image: url("img/banner-bg.jpg");
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	height: 100vh;

}
.container
{
	width: 100%;
	height: 100vh;
	background-color: rgba(132, 96, 246, 0.8);
}
nav
{
	width: 80%;
	margin: auto;
	padding: 20px 0;
	color: white;
	overflow: auto;
	position: relative;
}
nav .logo
{
	font-family: 'Bonheur Royale', cursive;
	font-size: 30px;
	font-weight: 600;
	float: left;
	width: 60%;
	text-decoration: none;
	color: white;
}
nav ul 
{
	list-style-type: none;
	/*display: flex;
	justify-content: space-between;*/
	float: left;
	width: 30%;
	font-family: 'Poppins', sans-serif;
}

nav ul li a 
{
	float: left;
	text-decoration: none;
	margin-right: 20px;
	padding-top: 5px;
	padding-left: 25px;
	color: white;
}
nav ul li a:hover
{
	color: #f3487f;
	transition: 0.3s ease;
}

#menu{
	position: absolute;
	right: 60px;
	width:25px;
	height: 24px;
	margin-top:12px;
	cursor: pointer;
}
nav #nav
{
	padding: 0;
	margin: 0 20px;
	position: absolute;
	right: 80px;
	transition: 0.3s ease;
	display: none;
}
.bar{
	height: 3px;
	width: 100%;
	background-color: #fff;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}

.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-2px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}


.home
{
	font-family: 'Poppins', sans-serif;
	color: white;
	position: relative;
	top:12%;
	width: 100%;
	text-align: center;
}

.home h1
{
	font-size: 55px;
	font-weight: 100;
	line-height: 1.2em;
	
}
.home p 
{
	font-weight: 600;
	letter-spacing: 0.5px;
	margin-top: -25px;
	font-size: 14px;
}
.home button
{
	margin-top: 40px;
	border-radius: 20px;
	padding: 10px 20px;
	background: transparent;
	color: white;
	border: 1px solid white;
	cursor: pointer;
}
.home button i 
{
	margin-left: 5px;
}
.home button:hover i 
{
	margin-left: 15px;
}

/*Glorious History Section*/
.glorious-history
{
	width: 100%;
	margin: 0;
	padding-top: 20px;
	height: 720px;
	font-family: 'Lato', sans-serif;
	background-color: #f2f5f7;
}
.header
{
	text-align: center;
	margin: 60px auto;
	width: 40%;
}
.header h2
{
	font-weight: 300;
	font-size: 26px;
	color: #222222;
}
.header p 
{
	font-size: 16px;
	color: #777777;

}
.glorious-history .history-content
{
	width: 75%;
	height: 57%;
	background-color: white;
	margin: 90px 10%;
	padding-right: 30px;
}
.glorious-history .history-content img 
{
	position: relative;
	width: 30%;
	top: -25px;
	margin-left: 25px;
	margin-bottom: -25px;
	float: left;
}
.glorious-history .history-content .tabs
{
	width: 70%;
	margin-left: 15%
	
}
.glorious-history .history-content .tabs .buttons
{
	padding: 30px 0 20px 0;
	position: relative;
	left: 90px;
}
.glorious-history .history-content .tabs .buttons .tab 
{
	background: transparent;
	color: #777777;
	padding: 10px 30px;
	border: 1px solid #777777;
	border-radius: 30px;
	margin-left:5px ;
	cursor: pointer;
}
.glorious-history .history-content .tabs .buttons .tab i 
{
	color: rgb(132, 96, 246);
}

.glorious-history .history-content .tabs .buttons .tab:hover
{
	background-color: rgb(132, 96, 246);
	color: white;
	border: none;
}
.glorious-history .history-content .tabs .buttons .tab:hover i 
{
	color: white;
}

.glorious-history .history-content .tabs .info
{
	margin-left: 40%;
	width:72%;
}
.glorious-history .history-content .tabs .info .details h4
{
	font-weight: 400;
	font-size: 17px;
}
.glorious-history .history-content .tabs .info .details p 
{
	color: gray;
	font-size: 14px;
	width: 100%;
}

/*Skills Section*/
.skills
{
	width: 100%;
	height: 500px;
	background-color: #f3487f;
	font-family: 'Lato', sans-serif;
}
.skills .skill-container
{
	width: 78%;
	height: 100%;
	margin: 0px auto;
	background-color: white;
	
}

.skills .skill-container .skill
{
	width: 25%;
	height: 100%;
	float: left;
}

.skills .skill-container .skill:hover
{
	background-color: #f3487f;
	color: white;
}

.skills .skill-container .skill .skill-name
{
	height:250px;
	position: relative;
	top: 16%;
	left: 33%;
	
}
.skills .skill-container .skill .skill-name p 
{
	font-size: 20px;
}
.skills .skill-container .skill .skill-name i 
{
	color: #f3487f;
	padding-left: 25px;
	font-size: 30px;
	padding-bottom: 5px;
}
.skills .skill-container .skill:hover .skill-name i 
{
	color: white;
}

.skills .skill-container .skill .skill-detail 
{
	background-color: #6f7598;
	height: 250px;
	margin-top: -14px;
	color: white;
}

.skills .skill-container .skill .skill-detail p 
{
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	position: relative;
	top: 40%;
}

/*Beautiful Experiences Section*/
.beautiful-container
{
	width: 100%;
	height: 500px;
	margin-top: 90px;
	margin-bottom: 90px;
	font-family: 'Lato', sans-serif;
}
.beautiful-container .beautiful-content
{
	width: 78%;
	height: 100%;
	margin: auto;
}
.beautiful-container .beautiful-content .beautiful-pic
{
	width: 50%;
	height: 100%;
	float: left;
}
.beautiful-container .beautiful-content .beautiful-pic img 
{
	width: 45%;
	margin-right: 22px;
}

.beautiful-container .beautiful-content .beautiful-details
{
	width: 48%;
	height: 100%;
	padding-left: 20px;
	float: left;
	color: #777777;
	font-weight: 200;
	font-size: 14px;
}
.beautiful-container .beautiful-content .beautiful-details h2
{
	font-size: 30px;
	font-weight: 600;
	color: #222222;
}
.beautiful-container .beautiful-content .beautiful-details .dark
{
	color: #222222;
	font-size: 18px;
	font-weight: 200;
}

.beautiful-container .beautiful-content .beautiful-details button
{
	padding: 10px 20px;
	background: transparent;
	border: 1px solid lightgray;
	color: rgb(132, 96, 246);
	border-radius: 20px;
	font-weight: 500;
	margin-top: 10px;
	transition: all 0.3s ease 0s;
    cursor: pointer;
}
.beautiful-container .beautiful-content .beautiful-details button:hover
{
	color: white;
	background-color: rgb(132, 96, 246);
}

/*Some Projects Section*/
.project-Container
{
	width: 100%;
	height: 550px;
	background-color: #5dd1e3;
	font-family: 'Lato', sans-serif;
	padding-top: 20px;
	position: relative;
}

.project-Container .project-content
{
	width: 78%;
	height: 50%;
	margin: 20px auto;

}

.project-Container .project-content .project-pic
{
	width: 65%;
	height: 100%;
	float: left;
}
.project-Container .project-content .project-pic img 
{
	width: 100%;
	height: 100%;
}
.project-Container .project-content .project-details
{
	width: 35%;
	height: 100%;
	float: left;
	background-color: white;
}
.project-Container .project-content .project-details .project-details-content
{
	padding: 50px 50px;
}
.project-Container .project-content .project-details .project-details-content h4 
{
	color: #222222;
	font-size: 20px;
}
.project-Container .project-content .project-details .project-details-content p 
{
	color: gray;
	font-size: 14px;
}
.project-Container .project-content .project-sliders 
{
	float: left;
}
.project-Container .project-content .project-sliders .left 
{
	display: block;
	width: 40px;
	text-align: center;
	cursor: pointer;
    margin-bottom: 1px;
	border-radius: 20px 20px 0 0;
	background-color: white;
	color: #777777;
	position: absolute;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
}
.project-Container .project-content .project-sliders .right  
{
	display: block;
	width: 40px;
	text-align: center;
	cursor: pointer;
    margin-bottom: 1px;
	border-radius: 0 0 20px 20px;
	background-color: white;
	color: #777777;
	position: absolute;
    top: 50%;
    right: -60px;
    transform: translateY(-50%);
}

/*Contact Section*/
.contact
{
	width: 100%;
	height: 600px;
	padding-top: 25px;
	font-family: 'Lato', sans-serif;
}
.contact form
{
	width: 60%;
	height: 300px;
	margin: auto;
}
.contact form input 
{
	width: 48%;
	height: 40px;
}
.contact form textarea
{
	width: 99%;
	height: 150px;
	margin: 20px 0;
}
.contact form button
{
	padding: 10px 20px;
	background: transparent;
	border-radius: 20px;
	border: 1px solid #eee;
	color: rgb(132, 96, 246);
	cursor: pointer;
	position: relative;
	margin-left: 78%;
}
.contact form button i 
{
	color: rgb(132, 96, 246);
}
.contact form button:hover
{
	background-color: rgb(132, 96, 246);
	color: white;
	margin-left: 75%;
}
.contact form button:hover i 
{
	color: white;
	margin-left: 15px;
	transition: all 0.3s ease 0s;
}

/*Together Section*/
.together-container
{
	width: 100%;
	height: 350px;
	background-color: #f9c400;
	color: white;
}
.together-container .together-content
{
	width: 70%;
	height: 100%;
	margin: auto;
	padding-top: 70px;
	text-align: center;
	font-family: 'poppins', sans-serif;
	font-size: 1.2em;
	/*font-weight: bolder;*/

}
.together-container .together-content input
{
	margin-top: 20px;
	border-radius: 25px;
	color: #777777;
	background-color: #f2f5f7;
	font-size: 14px;
	line-height: 1.5em;
	border: none;
	width: 50%;
	height: 35px;
	/*padding: 5px 15px;*/
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

.together-container .together-content button 
{
	margin-left: -180px;
    height: 40px;
    width: 170px;
    border-radius: 25px;
    background-color: white;
    color: #8460f6;
    border: 1px solid lightgray;
    padding: 10px 20px;
}

.together-container .together-content button:hover
{
	background-color: #8460f6;
    color: white;
}
.together-container .together-content button:hover i 
{
	margin-left: 15px;
	transition: all 0.3s ease 0s;
}

/*Footer Section*/
footer
{
	width: 100%;
	height: 410px;
	background-color: #4e5375;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 0;
}

footer .footer-content 
{
	width: 78%;
	height: 50%;
	margin: auto;
	padding: 70px 0;
}
 footer .footer-content .list 
 {
 	width: 25%;
 	float: left;
 } 
 footer .footer-content .list ul 
 {
 	list-style-type: none;
 }
 footer .footer-content .list ul li h5
 {
 	margin-bottom: 7px;
 	font-weight: 700;
 }
 footer .footer-content .list ul a 
 {
 	color: white;
 	text-decoration: none;
 	font-size: 13px;
 	font-weight: 600;
 }
 footer .footer-content .list ul a:hover
 {
 	color: #8460f6;
 	transition: all 0.3s ease 0s;
 }
footer .copy-social
{
	width: 78%;
	height: 15%;
	margin: 0 10%;
	color: white;
	padding-left: 50px;
	font-size: 13px;
 	font-weight: 600;
 	float: left;
}
footer .copy-social .copy
{
	width: 60%;
	float: left;
	/*margin-left: 150px;*/
}
footer .copy-social .copy p i 
{
	color: #f3487f;
}
footer .copy-social .copy p span 
{
	color:#f9c400;
}

footer .copy-social .social 
{
	float: left;
	width: 25%;
	padding-left: 100px;
}
footer .copy-social .social ul 
{
	list-style-type: none;

}
footer .copy-social .social ul li 
{
	border: 1px solid #777777;
	display: inline;
	margin-right: 4px;
}
footer .copy-social .social ul li a 
{
	text-decoration: none;
	color: white;
    line-height: 30px;
    display: inline-block;
    text-align: center;
   	width: 40px;
	height: 40px;

}